@charset "utf-8";


BODY{	margin:0px;
	padding:0px;
	
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size:14px;
	line-height:150%;}
FORM{}
IMG{	margin:0px;
	border-style:none;
	border-width:0px;	}
a:link {    text-decoration:none;	}
a:visited {    text-decoration:none;	}
a:hover {    text-decoration:none;    cursor:hand;    }
TABLE{	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
	padding:0px;
	border-collapse:collapse;
	border: none 0px #000;	}
TD{	margin:0px;
	padding:3px;
	text-align:left;	}
P{	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding:0px;	}
DIV{	line-height:150%;	}

.row{margin:3px;}

.top_bg{
	background-image:url(http://hoj.jp/wp-content/themes/hoj/img/top_bg.jpg);
	height:560px;	}
.child_bg{
	background:url(http://hoj.jp/wp-content/themes/hoj/img/child_bg.jpg); 
	margin:0px; 
	padding:0px;	}
.come_bg{	
	background:url(http://hoj.jp/wp-content/themes/hoj/img/come_bg.jpg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	margin:0px; 
	padding:0px;	}
.cheer_bg{	
	background:url(http://hoj.jp/wp-content/themes/hoj/img/come_bg.jpg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	margin:0px; 
	padding:0px;	}
.about_bg{	
	background:url(http://hoj.jp/wp-content/themes/hoj/img/come_bg.jpg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	margin:0px; 
	padding:0px;	}
.trans_div{
	background:url(http://hoj.jp/wp-content/themes/hoj/img/trans_bg90.png);
	width:610px;
	margin-top:0px;
	margin-left:75px;
	margin-right:85px;
	margin-bottom:0px;
	padding:20px;
	border-collapse:collapse;
	border: none 0px #000;
	text-align:left;	}
.standard_table{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding:0px;
	border-collapse:collapse;
	border: none 0px #000;		}
.border_cell{
	margin:0px;
	padding:3px;
	text-align:left;
	border: solid 1px #666;	}


.child_table img{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #FFF;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto auto;
	display: block;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	
	transform:rotate(-2deg)
	
}

.shadow{
    position: relative;
    display: block;
    width: 143px; /* 画像の横幅 */
    margin: 0 auto;
    z-index: 1;
}
.shadow:before{
    content: "";
    position: absolute;
    bottom: 6px;
    left: 18px;
    width: 50%;
    box-shadow: 0 0 4px 8px rgba(0,0,0,0.6);
    z-index: -1;
    transform:rotate(-6deg)
}
.shadow:after{
    content: "";
    position: absolute;
    bottom: 6px;
    right: 0px;
    width: 50%;
    box-shadow: 0 0 4px 8px rgba(0,0,0,0.6);
    z-index: -1;
    transform:rotate(0deg)
}

.td_padding_for_shadow{
	padding-top:80px;
}
